body{
	margin: 0px;

}

section{
/*	height: 75vh;*/
	display: flex;
	flex-direction: column;
	align-items: center;
/*	margin-bottom: 20px;*/
}

section:nth-child(2n){
	background-color: #9e9b9b29;
}

section:nth-child(2n+1){
	background-color: white;
}


section:target{
	background-color: rgb(#00f8ff, #00c0ff, #3fa5b500);
}

.section-heading{
	width: auto;
	padding: 10px 10px 10px;
	
}

.section-heading span{
	font-size: 40px;
	color: #2857a4;
	display: inline-block;
	margin-left: 8px;
	padding-top: 10px;
/*	text-shadow: 0px 0px 2px black;*/
}

/* Body Header */

#body-header{
	height: 65vh;
	opacity: 0.8;
	background-image: url(header_resume_img.jpeg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

/* horizontal-list */
.bars{
    color: white;
    margin: 0;
    margin-right: 5%;
    display: none;
}

.bars i {
    font-size: 2rem;
}

.dropdown-list{
    margin: 0;
    display: none;
    background-color: #828470;
    box-shadow: 0px 4px 8px 1px #535547;
}

.dropdown-list ul{
    margin: 0.2rem 0.2rem;
    text-align: left;
    padding: 0px 0.8rem;
}

.dropdown-menu:hover .dropdown-list{
    display: block;
    position: absolute;
    right: 3%;
}

.dropdown-list li{
    margin: 0.4rem 0px;
}

.no-list-style{
    list-style: none;
}

.no-list-style li {
    font-weight: 100;
    font-size: 0.9rem;
}

.no-list-style li a{
    list-style: none;
    color: white;
    text-decoration: none;
}

.horizontal-list{
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.horizontal-list li{
	display: inline-block;
	margin: 20px 9px 0px 9px ;
}

.horizontal-list li a{
	color: white;
	text-decoration: none;
}

/*.horizontal-list li a:hover{
	color: lightskyblue;
	border-bottom: 1px solid black;
	transition: color 0.7s, border-bottom 4s;
}*/

.nav-menu li a:hover{
	color: lightskyblue;
	border-bottom: 1px solid black;
	transition: color 0.7s, border-bottom 4s;
}

.text-centre{
	text-align: center;
}


/* name social icon */

#my-name{
	margin-top: 20vh;
	font-size: 3rem;
    letter-spacing: 0.1rem;
    color: white;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.social-icons li {
    border-radius: 50%;
}

/*.social-icons li:hover {
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
    
}*/

.social-icons li a i:hover {
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);

}

.social-icons li a i {
    width: 2rem;
    padding: 10px;
    border-radius: 50%;
    font-size: 2rem;
    margin: 0px 15px 0px 15px;

}

/* About */

#About{
	height: auto;
	width: 100%;
/*	position: relative;*/
}

#my-img{
	height: 13rem;
	width: 13rem;
	margin: auto;
	position: relative;
	margin-top: -15vh;
}

#my-img img:hover{
	box-shadow: 0px 0px 5px 4px lightgrey;
}

#my-img img{
	height: 100%;
	width: 100%;
	border-radius: 50%;
}

#About p{
	width: 70%;
	height: 100%;
	text-align: justify;
	color: grey;
/*	margin-top: 21px;*/
	margin: auto;
	padding: 10px;
	line-height: 25px;
	letter-spacing: 1.2px;
}



/* Skills */

.skill-display{
	width: 75%;
    padding: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.skill-progress{
	width: 11rem;
	height: 2.2rem;
	background-color: lightgrey;
	margin: 25px;
	border-radius: 0.8rem;
	box-shadow: 1px 1px 2px 1px #b9b9b9;
}

.skill-progress>div{
	border-radius: 20px 0px 0px 20px ;
	box-shadow: 1px 1px 5px 2px #989882;
}

.eighty-five-percent{
	background-color: blue;
	width: 85%;
	height: 100%;
/*	border-radius: 7%;*/
}


.ninty-percent{
	background-color: orange;
	width: 90%;
	height: 100%;
}

.skill-progress span{
	margin-left: 10px;
	padding: 2px;
	color: white;
	margin-top: 4px;
	font-size: 14px;
}

.ninty-percent2{
	background-color: pink;
	width: 90%;
	height: 100%;
}

.eighty-percent{
	background-color: brown;
	width: 80%;
	height: 100%;
}
.eighty-percent2{
	background-color: green;
	width: 80%;
	height: 100%;
}


/* portfolio */


.Portfolio-container{
	box-sizing: border-box;
	padding: 0 50px;
/*	box-sizing: border-box;*/
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-bottom: 20px;
}

.Portfolio-image-container{
	max-width: 300px;
    overflow: hidden;
    margin: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.Portfolio-image-container img {
    width: 100%;
    height: 100%;
}

.Portfolio-details {
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: transparent;
    text-align: center;
    padding: 10px;
}

.Portfolio-image-container:hover {
    box-shadow: 0 0 20px #74ADC8;
}

.Portfolio-image-container:hover .Portfolio-details {
    background-color: #80808078;
    color: white;
}


/* contact */


.contact-container{
    display:flex;
    width: 100%;

}
#contact {
    background-color: #0abcf9;
    background-image: linear-gradient(50deg, #2857a4 0%, #403066 74%);
    color: white;
    padding-bottom: 40px;
}

#contact h1,
#contact h1 span {
    color: white;
}

#contact-form {
    margin-left: 17%;
}

#my-details-container {
/*    width: 35%;*/
    margin-left: 8%;
    margin-right: 6%;
}
#my-details-container h3 {
    color: white;
    font-weight: 550;
    font-size: 1.2rem;
}
#contact-form-container {
    width: 50%;
}
#my-details-container p {
    color: #d9dcdd;
    font-size: 0.9rem;
}
.my-details-info-container {
    margin-bottom: 20px;
    color: #d9dcdd;
    font-size: 1rem;
}
.my-details-info-container span {
    margin-left: 0.4rem;
}

.my-details-info-container i {
    color: white;
}
#contact-form input,
textarea {
    max-width: 90%;
    margin: 15px;
    padding: 4px 10px;
    border: 0px solid transparent;
    border-bottom: 2px solid white;
    color: #d9dcdd;
    background: transparent;
    width: 90%;
    line-height: 1.6;
    font-size: 1.05rem;
}

#contact-form button[type="submit"] {
    background: transparent;
    font-size: 0.95rem;
    border: 2px solid white;
    margin-top: 5%;
    margin-left: 35%;
    border-radius: 2px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 0.046875em;
    line-height: 1;
    padding: 0.8em 0.8em 0.78em;
    text-transform: uppercase;
}
#contact-form button:hover {
    background: white;
    color: #13386fe0;
}
#contact .social-icons li a i {
    font-size: 1.2rem;
    margin: 40px 10px 10px;
    padding: 10px 14px 20px 10px;

}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Common Margin Classes */

.mb75px {
    margin-bottom: 75px;
}


/* timeline */

.timeline{
	width: 75%;
	position: relative;
}

.timeline-boxes{
	width: 40%;
	margin: 5px;
	position: relative;
	left: 5%;
	min-height: 150px;
/*	border: 2px solid black;*/
}


.timeline-boxes:nth-child(2n){
	left: 54%;
}



/*#training::before{
	content: '';
	display: inline-block;
	background-image: url(/Users/saiyammaini/Desktop/project_images/Coingninjas_logo.png);
	height: 40px;
	width: 40px;
	background-size: cover;
}*/



.timeline-divider{
	height: 75%;
	width: 0%;
	border: 1px dashed cyan;
	left: 50%;
	position: absolute;
	top: 10%;
}

.timeline-traveller{
	position: sticky;
	 top: 35%;
	 transform: rotate(90deg);
	 z-index: 2;

}

.timeline-traveller i{
	color: #0e4092;
/*	width: 100px;*/
}

.timeline-boxes:nth-child(2n+1)::after{
	content: '';
	position: absolute;
	top: 41%;
	border-radius: 50%;
	width: 0.4rem;
	height: 0.4rem;
	background-color: lightgrey;
	right: -12.2%;
	z-index: 1;
}


.timeline-container {
    padding: 8px;
}

.timeline-logo {
    position: absolute;
    width: 50px;
    overflow: hidden;
}

.timeline-logo > img {
    width: 100%;
}

.timeline-boxes:nth-child(2n)::after{
	content: '';
	position: absolute;
	top: 41%;
	border-radius: 50%;
	width: 0.4rem;
	height: 0.4rem;
	background-color: lightgrey;
	left: -11.9%;
	z-index: 1;
}



.experience-designation {
    font-size: 1.4rem;
    text-align: right;
}

.experience-company-name {
    margin: 5px 0 0;
    color: #eb822d;
    font-weight: 400;
    font-size: 1.2rem;
    text-align: right;
}

.experience-duration {
    color: #9e9b9b;
    font-weight: 100;
    color: grey;
    font-size: 1rem;
    text-align: right;
}

.experience-description {
    font-size: 19px;
    padding: 2px;
    color: grey;
    line-height: 20px;
    letter-spacing: 1.3px;
}

.text-align-justify {
    text-align: justify;
}


.m-blue {
    color: #2857a4;
}

.m0 {
    margin: 0;
}

@media only screen and (max-width: 572px) {
    
    .timeline-boxes {
        width: 100%;
        left: 10% !important;
    }

    .bars {
        display: block;
    }
    
    
    .nav-menu {
        display: none;
    } 
}

@media only screen and (max-width: 768px) {


    .timeline-boxes {
        width: 90%;
        left: 10% !important;
    }

    .timeline-box::after {
        left: -11.5% !important;
    }

    .timeline-divider {
        left: 5%;
    }

    #contact-form {
        margin-left: 0%;
    }

    #contact-container {
        flex-wrap: wrap;
    }

    #my-details-container {
        width: 80%;
        margin: 10%;
    }

    #contact-form-container {
        width: 80%;
        margin: 10%;
    }

}

